# Lab | Inferential statistics - T-test & P-value

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st

### Instructions

1. *One tailed t-test* - In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file `files_for_lab/machine.txt`.
   Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

In [2]:
machine=pd.read_csv('files_for_lab/machine.txt', sep='\t')
machine

   New machine  Old machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

$$H0:\mu_{n} <= \mu_{o}  ==  \mu_{n}-\mu_{o} <= 0$$
$$H1: \mu_{n} > \mu_{o}  ==  \mu_{n}-\mu_{o} > 0$$  

with a pvalue of 0.05

In [3]:
st.ttest_ind(machine['New machine'], machine['Old machine'], equal_var=False, alternative='greater')

Ttest_indResult(statistic=-3.397230706117603, pvalue=0.998378875266841)

In [4]:
0.998>(1-0.05)

True

We reject the hypothesis that the new machine packs faster than the old one, because the p_value of our statistic is bigger than the chosen value of 0.95 of our right-sided test.

2. *Matched Pairs Test* - In this challenge we will compare dependent samples of data describing our Pokemon (file `files_for_lab/pokemon.csv`). Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. Compare the two columns to see if there is a statistically significant difference between them and comment your result.

In [5]:
pokemon =pd.read_csv('files_for_lab/pokemon.csv')
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

$$H0:\mu_{a} = \mu_{d}  ==  \mu_{a}-\mu_{d} = 0$$
$$H1: \mu_{a} != \mu_{d}  ==  \mu_{a}-\mu_{d} != 0$$  

with a pvalue of 0.05

In [6]:
p_sample=pokemon.sample(30)
st.ttest_ind(p_sample['Attack'],p_sample['Defense'], equal_var=False)

Ttest_indResult(statistic=0.35552107373493413, pvalue=0.7236672420148258)

For our specific sample we accept the hypothesis that there isn't a significant difference between the attack and defense scores of a given pokemon, because the p_value of our statistic is bigger than the chosen value of 0.025 for this two-sided test

# OPTIONAL PART | Inferential statistics - ANOVA

Note: The following lab is divided in 2 sections which represent activities 3 and 4.

## Part 1

In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on:
    - Null hypothesis
    - Alternate hypothesis
    - Level of significance
    - Test statistic
    - P-value
    - F table

### Context

Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data `anova_lab_data.xlsx` file in the `files_for_lab` folder  

- State the null hypothesis
- State the alternate hypothesis
- What is the significance level
- What are the degrees of freedom of model, error terms, and total DoF

Data was collected randomly and provided to you in the table as shown: [link to the image - Data](https://education-team-2020.s3-eu-west-1.amazonaws.com/data-analytics/7.05/7.05-lab_data.png)

In [7]:
etching=pd.read_excel('files_for_lab/anova_lab_data.xlsx')
display(etching)
print(etching.columns)

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

Index(['Power ', 'Etching Rate'], dtype='object')

In [8]:
etching['etching_count'] = etching.groupby('Power ').cumcount()
etching_pivot = etching.pivot(index='etching_count', columns='Power ', values='Etching Rate')
etching_pivot.columns = ['power_'+str(x) for x in etching_pivot.columns.values]
etching_pivot

               power_160 W  power_180 W  power_200 W
etching_count
0                     5.43         6.24         8.79
1                     5.71         6.71         9.20
2                     6.22         5.98         7.90
3                     6.01         5.66         8.15
4                     5.59         6.60         7.55

H0: the mean rate of all power levels is the same
H1: the mean rate of all power levels is not the same (without knowing which ones are different)

pvalue(significance level): 0.05

DoF bewteen groups: 2
DoF within groups: 2
Total DoF: 4

## Part 2

- In this section, use the Python to conduct ANOVA.
- What conclusions can you draw from the experiment and why?

In [9]:
st.f_oneway(etching_pivot['power_160 W'], etching_pivot['power_180 W'], etching_pivot['power_200 W'])

F_onewayResult(statistic=36.87895470100505, pvalue=7.506584272358903e-06)

According to our test, we reject the hypothesis that the mean etching rates across different plasma beam powers is the same, since the p_value of our statistis is much lower than the chosen value of 0.05

In [10]:
etching_pivot.mean()

power_160 W    5.792
power_180 W    6.238
power_200 W    8.318
dtype: float64